<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resistors</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <h1>Resistors</h1>
  <a href="../index.html">⬅ Back to home</a>
  <p>Want something? <a href="mailto:mkfix.yt@gmail.com">Request a part</a></p>
  <ul>
    <li>
      <h3>10kΩ Resistor</h3>
      <img src="https://drive.google.com/uc?id=YOUR_IMAGE_ID_HERE" alt="10k resistor" width="200">
    </li>
    <li>
      <h3>1kΩ Resistor</h3>
      <img src="https://drive.google.com/uc?id=YOUR_IMAGE_ID_HERE" alt="1k resistor" width="200">
    </li>
  </ul>
  <p>Want something? <a href="mailto:mkfix.yt@gmail.com">Request a part</a></p>
</body>
</html>
